<div id="<%= dom_id cost_simulation %>">
  <p>
    <strong>Product:</strong>
    <%= cost_simulation.product %>
  </p>

  <p>
    <strong>Fob price:</strong>
    <%= cost_simulation.fob_price %>
  </p>

  <p>
    <strong>Freight cost:</strong>
    <%= cost_simulation.freight_cost %>
  </p>

  <p>
    <strong>Insurance:</strong>
    <%= cost_simulation.insurance %>
  </p>

  <p>
    <strong>Import taxes:</strong>
    <%= cost_simulation.import_taxes %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= cost_simulation.total_cost %>
  </p>

</div>
