<div id="<%= dom_id freight_quote %>">
  <p>
    <strong>Transport mode:</strong>
    <%= freight_quote.transport_mode %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= freight_quote.cost %>
  </p>

  <p>
    <strong>Estimated days:</strong>
    <%= freight_quote.estimated_days %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= freight_quote.provider %>
  </p>

</div>
