<div id="<%= dom_id shipment_transport %>">
  <p>
    <strong>Reference:</strong>
    <%= shipment_transport.reference %>
  </p>

  <p>
    <strong>Transport mode:</strong>
    <%= shipment_transport.transport_mode %>
  </p>

  <p>
    <strong>Origin country:</strong>
    <%= shipment_transport.origin_country %>
  </p>

  <p>
    <strong>Destination country:</strong>
    <%= shipment_transport.destination_country %>
  </p>

  <p>
    <strong>Origin port:</strong>
    <%= shipment_transport.origin_port %>
  </p>

  <p>
    <strong>Destination port:</strong>
    <%= shipment_transport.destination_port %>
  </p>

  <p>
    <strong>Net weight:</strong>
    <%= shipment_transport.net_weight %>
  </p>

  <p>
    <strong>Gross weight:</strong>
    <%= shipment_transport.gross_weight %>
  </p>

  <p>
    <strong>Cubic volume:</strong>
    <%= shipment_transport.cubic_volume %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= shipment_transport.equipment_type %>
  </p>

  <p>
    <strong>Transit time:</strong>
    <%= shipment_transport.transit_time %>
  </p>

  <p>
    <strong>Shipment type:</strong>
    <%= shipment_transport.shipment_type %>
  </p>

  <p>
    <strong>Free time:</strong>
    <%= shipment_transport.free_time %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= shipment_transport.route %>
  </p>

  <p>
    <strong>Eta:</strong>
    <%= shipment_transport.eta %>
  </p>

  <p>
    <strong>Etd:</strong>
    <%= shipment_transport.etd %>
  </p>

  <p>
    <strong>Shipping company:</strong>
    <%= shipment_transport.shipping_company %>
  </p>

  <p>
    <strong>Shipping agency:</strong>
    <%= shipment_transport.shipping_agency %>
  </p>

  <p>
    <strong>Transport doc type:</strong>
    <%= shipment_transport.transport_doc_type %>
  </p>

  <p>
    <strong>Transport doc number:</strong>
    <%= shipment_transport.transport_doc_number %>
  </p>

  <p>
    <strong>Transport doc date:</strong>
    <%= shipment_transport.transport_doc_date %>
  </p>

</div>
