<div id="<%= dom_id agent %>">
  <p>
    <strong>Name:</strong>
    <%= agent.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= agent.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= agent.email %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= agent.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= agent.state %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= agent.address %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= agent.number %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= agent.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= agent.city %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= agent.zip_code %>
  </p>

  <p>
    <strong>Agent type:</strong>
    <%= agent.agent_type %>
  </p>

</div>
