<h1>Lista de Agentes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.name %></td>
        <td><%= agent.email %></td>
        <td><%= agent.phone %></td>
        <td>
          <%= link_to "VER", agent_path(agent), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New agent", new_agent_path %>
