<div id="<%= dom_id customs_clearance %>">
  <p>
    <strong>Reference:</strong>
    <%= customs_clearance.reference %>
  </p>

  <p>
    <strong>Import license:</strong>
    <%= customs_clearance.import_license %>
  </p>

  <p>
    <strong>Import license date:</strong>
    <%= customs_clearance.import_license_date %>
  </p>

  <p>
    <strong>Import license type:</strong>
    <%= customs_clearance.import_license_type %>
  </p>

  <p>
    <strong>Import declaration:</strong>
    <%= customs_clearance.import_declaration %>
  </p>

  <p>
    <strong>Import declaration date:</strong>
    <%= customs_clearance.import_declaration_date %>
  </p>

  <p>
    <strong>Parametrization channel:</strong>
    <%= customs_clearance.parametrization_channel %>
  </p>

  <p>
    <strong>Di status:</strong>
    <%= customs_clearance.di_status %>
  </p>

  <p>
    <strong>Import type:</strong>
    <%= customs_clearance.import_type %>
  </p>

  <p>
    <strong>Cargo location:</strong>
    <%= customs_clearance.cargo_location %>
  </p>

  <p>
    <strong>Customs costs:</strong>
    <%= customs_clearance.customs_costs %>
  </p>

  <p>
    <strong>Documentation:</strong>
    <%= customs_clearance.documentation %>
  </p>

</div>
