<%= form_with(model: import_process, local: true) do |form| %>
  <div data-controller="import-processes">
    <div class="field">
      <%= form.label :invoice_number, "Número da Invoice" %>
      <%= form.text_field :invoice_number %>
    </div>

    <div class="field">
      <%= form.label :invoice_date, "Data da Invoice" %>
      <%= form.date_field :invoice_date %>
    </div>

    <div class="field">
      <%= form.label :supplier_id, "Fornecedor/Exportador" %>
      <%= form.collection_select :supplier_id, Agent.all, :id, :name, include_blank: "Selecione um fornecedor/exportador" %>
    </div>

    <div class="field">
      <%= form.label :incoterm, "Incoterm" %>
      <%= form.select :incoterm, ImportProcess.incoterms.map { |k, v| [k.upcase.gsub("_", " "), v] }, include_blank: "Selecione o Incoterm" %>
    </div>

    <div class="field">
      <%= form.label :payment_term, "Termo de Pagamento" %>
      <%= form.select :payment_term, ImportProcess.payment_terms.keys.map { |key| [key, key] }, include_blank: "Selecione o Termo de Pagamento" %>
    </div>

    <h3>Produtos</h3>
    <div id="products" data-import-processes-target="products">
      <%= form.fields_for :import_process_products do |product_form| %>
        <div class="nested-fields">
          <%= product_form.collection_select :product_id, Product.all, :id, :name, include_blank: "Selecione um produto" %>
          <button type="button" class="remove_product" data-action="click->import-processes#removeProduct">Remover</button>
        </div>
      <% end %>
    </div>

    <button type="button" class="add_product" data-action="click->import-processes#addProduct">Adicionar Produto</button>

    <div class="actions">
      <%= form.submit "Salvar" %>
    </div>
  </div>
<% end %>
