<%= form_with(model: import_process) do |form| %>
  <% if import_process.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(import_process.errors.count, "error") %> prohibited this import_process from being saved:</h2>

      <ul>
        <% import_process.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :process_number, style: "display: block" %>
    <%= form.text_field :process_number %>
  </div>

  <div>
    <%= form.label :importer, style: "display: block" %>
    <%= form.text_field :importer %>
  </div>

  <div>
    <%= form.label :supplier, style: "display: block" %>
    <%= form.text_field :supplier %>
  </div>

  <div>
    <%= form.label :product_description, style: "display: block" %>
    <%= form.textarea :product_description %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
