<div id="<%= dom_id import_process %>">
  <p>
    <strong>Process number:</strong>
    <%= import_process.process_number %>
  </p>

  <p>
    <strong>Importer:</strong>
    <%= import_process.importer %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= import_process.supplier %>
  </p>

  <p>
    <strong>Product description:</strong>
    <%= import_process.product_description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= import_process.status %>
  </p>

</div>
