<div id="<%= dom_id export_process %>">
  <p>
    <strong>Process number:</strong>
    <%= export_process.process_number %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= export_process.supplier %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= export_process.client %>
  </p>

  <p>
    <strong>Product description:</strong>
    <%= export_process.product_description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= export_process.status %>
  </p>

</div>
