<%= form_with(model: product, local: true) do |f| %>
  <div class="field">
    <%= f.label :codigo, "Código do Item" %>
    <%= f.text_field :codigo, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :descricao, "Descrição do Item" %>
    <%= f.text_field :descricao, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :ncm, "NCM do Item" %>
    <%= f.text_field :ncm, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :unidade, "Unidade" %>
    <%= f.select :unidade, ["Kg", "Litro", "Metro"], { prompt: "Selecione a Unidade" }, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :peso, "Peso" %>
    <%= f.text_field :peso, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :embalagem, "Embalagem" %>
    <%= f.select :embalagem, ["Saco", "Caixa", "Pacote", "Frasco", "Galão", "Tambor"], { prompt: "Selecione a Embalagem" }, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :agent_id, "Agente" %>
    <%= f.collection_select :agent_id, Agent.all, :id, :name, { prompt: "Selecione um Agente" }, class: "form-control select2" %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
